<p-toast position="top-right" key="tr"></p-toast>
<div class="d-flex justify-content-center align-items-center">
    <div class="mx-2">
        <span class="email-input">
            {{email}}
        </span>
    </div>
    <div class="text-center mx-2">
        <button class="btn btn-primary" (click)="copyEmail()">
            <!-- add icon clipboard fa -->
            <i class="fa fa-clipboard"></i>
        </button>
    </div>
    <div class="text-center mx-2">
        <button class="btn btn-primary" (click)="sendEmail()">
            <!-- add icon clipboard fa -->
            <i class="fa fa-send"></i>
        </button>
    </div>
</div>
