
<div class="container main">
    <div class="row introduce">
        <app-section>
            <div class="row">
                <div class="col-md-2 my-photo-section">
                    <!-- Agrega una imagen aquí -->
                    <img src="../assets/cv.jpg" alt="Tu Foto" class="my-photo">
                </div>
                <div class="col-md-10">
                    <h1 class="my-name">Ruben Farias</h1>
                    <h2 class="my-title">Full Stack Developer</h2>
                    <p class="my-description">
                        I'm a Full Stack Developer with a passion for creating and developing web applications.
                        I have experience in developing web applications using modern technologies such as Angular, Node,
                        Express and Typescript.
                        I'm also experienced in developing RESTful APIs and working with databases such as MSSQL and MySQL and
                        another projects with c# and netcore.
                        I'm always looking for new challenges and opportunities to grow as a developer and learn.
                    </p>
                </div>
            </div>
        </app-section>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-section title="Projects">
                
            </app-section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-section title="Skills">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <h4>Hard Skills</h4>
                        <!-- todo: replace by componente gague -->
                        <ul class="skills-list">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>Typescript</li>
                            <li>Angular</li>
                            <li>Node</li>
                            <li>Express</li>
                            <li>C#</li>
                            <li>.Net Core</li>
                            <li>SQL</li>
                            <li>MySQL</li>
                            <li>MSSQL</li>
                            <li>Git</li>
                            <li>RESTful APIs</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Soft Skills</h4>
                        <!-- todo: replace by componente gague -->
                        <ul class="skills-list">
                            <li>Problem Solving</li>
                            <li>Teamwork</li>
                            <li>Communication</li>
                            <li>Adaptability</li>
                            <li>Time Management</li>
                            <li>Leadership</li>
                            <li>Attention to Detail</li>
                            <li>Organization</li>
                        </ul>
                    </div>
                </div>
            </app-section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-section title="Socials" >
                <a href="https://www.linkedin.com/in/ruben-de-jesus-farias-de-alba-198ba0211/" target="_blank"
                    class="social-link linkedin" style="min-width: 6rem;">
                    <i class="fa fa-linkedin-square"></i>
                    LinkedIn
                </a>

                <a href="https://www.youtube.com/channel/UC9m3Z3v3n3J" target="_blank" class="social-link youtube" style="min-width: 8rem;">
                    <i class="fa fa-youtube"></i>
                    Youtube
                </a>

                <a href="https://github.com/Tanke6003" target="_blank" class="social-link github" style="min-width: 8rem;">
                    <i class="fa fa-github"></i>
                    Github
                </a>
            </app-section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-section title="Contact">
                        <app-email-contact email="Ruben.Farias.1999@gmail.com"></app-email-contact>
            </app-section>
        </div>
        <div class="col-md-6">
            <app-section title="CV">
                        <app-email-contact email="Ruben.Farias.1999@gmail.com"></app-email-contact>
            </app-section>
        </div>
    </div>
</div>
