
body{
  height: 100vh;
  //font-family: 'Roboto', sans-serif;
    //background: linear-gradient(180deg, #2b5668 0%, #15303d 2%, #15303d 94%, #2b5668 100%);
  background-color: #213f4d;
  // font family FireCoda nerd font mono
  //font-family: 'FireCoda', monospace;
}
.main{

  height: 100%;
}